<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation Framework" parallel="methods" group-by-instances="true" allow-return-values="true">
    <test name="users data">
        <classes>
            <class name="TestClass.usersTest"></class>

        </classes>
    </test>
</suite>